<body>
    <header>
    </header>
    <section>
        <div class="main">
            <h1 class="display-4">ChordFind</h1>

            <br>
            <form>
                <br />
                <label for="ctext">Chord Name:</label>
                <input type="text" id="ctext" name="chord" value="Name" />
                <br />
                <br />

                <p>Or</p>

                <label for="cselect">Select:</label>
                <select name="tone" id="cselect">
                    <option value="c">C</option>
                    <option value="c#">C#</option>
                    <option value="d">D</option>
                    <option value="d#">D#</option>
                    <option value="e">E</option>
                    <option value="f">F</option>
                    <option value="f#">F#</option>
                    <option value="g">G</option>
                    <option value="g#">G#</option>
                    <option value="a">A</option>
                    <option value="a#">A#</option>
                    <option value="b">B</option>
                </select>
                <select name="type">
                    <option value="none"></option>
                    <option value="maj">maj</option>
                    <option value="m">m</option>
                    <option value="dim">dim</option>
                    <option value="aug">aug</option>
                    <option value="sus">sus</option>
                </select>
                <select name="num">
                    <option value="none"></option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="6/9">6/9</option>
                    <option value="7">7</option>
                    <option value="7b5">7b5</option>
                    <option value="9">9</option>
                    <option value="11">11</option>
                    <option value="13">13</option>
                </select>

                <br />
                <br />
                <label for="">Instrument:</label>
                <input type="radio" id="both" name="inst" value="both" checked="checked" />
                <label for="both">Both</label>
                <input type="radio" id="guit" name="inst" value="guitar" />
                <label for="guit">Guitar</label>
                <input type="radio" id="piano" name="inst" value="piano" />
                <label for="piano">Piano</label>

                <br />
                <br />

                <label for="">Chord Progression:</label>
                @*<input type="radio" id="none" name="prog" value="none" />
                <label for="none">None</label>*@
                <input type="radio" id="3" name="prog" value="triads" />
                <label for="3">Triads</label>
                <input type="radio" id="7" name="prog" value="7th" checked="checked" />
                <label for="7">7th chords</label>

                <br />
                <br />

                <input type="submit" />

                <br />
                <br />
            </form>

            <br />
            <br />

            <div class="mainChord">
                <h2>C</h2>
                <br />
                <ins class="scales_chords_api" chord="C" output="sound"></ins>
                <ins class="scales_chords_api" chord="C" height="170"></ins>
                <ins class="scales_chords_api" chord="C" instrument="piano" output="sound"></ins>
                <ins id="pmain" class="scales_chords_api" chord="C" instrument="piano" height="170"></ins>
            </div>
        </div>

        <br>
        <br>
        <section id="chords">

            <div id="diatonProgG" style="width: 1600px">
                <h3>Diatonic Chord Progression: Guitar</h3>
                <div class="diag" style="border-color:#63f542;">
                    <ins class="scales_chords_api" chord="Cmaj7"></ins>
                    <p>(I) Tonic 
                        <ins class="scales_chords_api" chord="Cmaj7" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                    <ins class="scales_chords_api" chord="Dm7"></ins>
                    <p>(ii) Supertonic
                        <ins class="scales_chords_api" chord="Dm7" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                    <ins class="scales_chords_api" chord="Em7"></ins>
                    <p>(iii) Mediant
                        <ins class="scales_chords_api" chord="Em7" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                    <ins class="scales_chords_api" chord="Fmaj7"></ins>
                    <p>(IV) Sub-Dominant
                        <ins class="scales_chords_api" chord="Fmaj7" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                    <ins class="scales_chords_api" chord="G7"></ins>
                    <p>(V) Dominant
                        <ins class="scales_chords_api" chord="G7" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                    <ins class="scales_chords_api" chord="Am7"></ins>
                    <p>(vi) Sub-Mediant
                        <ins class="scales_chords_api" chord="Am7" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                    <ins class="scales_chords_api" chord="Bm7b5"></ins>
                    <p>(vii) Subtonic
                        <ins class="scales_chords_api" chord="Bm7b5" output="sound"></ins>
                    </p>
                </div>
            </div>

            <br>
            <br>
            <br>

            <div id="diatonProgP">
                <h3>Diatonic Chord Progression: Piano</h3>
                <div class="diag" style="border-color:#63f542;">
                    <ins class="scales_chords_api" chord="Cmaj7" instrument="piano" height="110"></ins>
                    <p>(I) Tonic 
                        <ins class="scales_chords_api" chord="Cmaj7" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                    <ins class="scales_chords_api" chord="Dm7" instrument="piano" height="110"></ins>
                    <p>(ii) Supertonic
                        <ins class="scales_chords_api" chord="Dm7" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                    <ins class="scales_chords_api" chord="Em7" instrument="piano" height="110"></ins>
                    <p>(iii) Mediant
                        <ins class="scales_chords_api" chord="Em7" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                    <ins class="scales_chords_api" chord="Fmaj7" instrument="piano" height="110"></ins>
                    <p>(IV) Sub-Dominant
                        <ins class="scales_chords_api" chord="Fmaj7" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                    <ins class="scales_chords_api" chord="G7" instrument="piano" height="110"></ins>
                    <p>(V) Dominant
                        <ins class="scales_chords_api" chord="G7" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                    <ins class="scales_chords_api" chord="Am7" instrument="piano" height="110"></ins>
                    <p>(vi) Sub-Mediant
                        <ins class="scales_chords_api" chord="Am7" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                    <ins class="scales_chords_api" chord="Bm7b5" instrument="piano" height="110"></ins>
                    <p>(vii) Subtonic
                        <ins class="scales_chords_api" chord="Bm7b5" instrument="piano" output="sound"></ins>
                    </p>
                </div>
            </div>
        </section>
    </section>
</body>

<style>
    ins {
        margin: 5px;
        /*margin-right: 5px*/
    }

    h2{
        border: 3px solid lightgray;
        width: 200px;
        margin-left: 42%;
    }

    body {
        text-align: center;
        
    }

    #diatonProgP, #diatonProgG {
        width: 1300px;
        /*border: 3px solid lightgray;
        border-radius: 50px;*/
        margin: 5px;
    }

    form {
        border: 3px solid lightgray;
        border-radius: 50px;
        width: 400px;
        margin-left: 35%;
    }

    #chords {
        display: flex;
        justify-content: center;
    }

    .diag {
        border: 5px white solid;
        border-radius:10px;
        text-align: left;
        width: fit-content;
        margin: 4px;
        display: inline-block;
    }

    .main{
        /*border: 5px gray solid;*/
        /*display:contents;
        justify-content: center;
        align-items: center;*/
    }
</style>
@section Scripts {
    <script async type="text/javascript" src="https://www.scales-chords.com/api/scales-chords-api.js"></script>

}