@model Chord
<body>
    <header>
    </header>
    <section>
        <div class="main">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h1 class="display-4">ChordFind</h1>

            <br>
            <form asp-action="ChordSearch" asp-controller="Home" method="post">
                <br />
                <label for="ctext">Chord Name:</label>
                <input type="text" id="ctext" name="Name" value="" />
                <button type="submit">Search</button>
            </form>
    </section>
</body>

<style>
    h2{
        /*border: 3px solid lightgray;*/
        width: 200px;
        margin-left: 42%;
    }

    body {
        text-align: center;
        
    }

    form {
        /*border: 3px solid lightgray;*/
        border-radius: 50px;
        width: 400px;
        margin-left: 35%;
    }
</style>
@section Scripts {
    <script async type="text/javascript" src="https://www.scales-chords.com/api/scales-chords-api.js"></script>

}